<!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">


  
 
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> № Рейса </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>
  
    
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Маршрут </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
   
    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef> Дата отправления </th>
      <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
    </ng-container>
  

    <ng-container matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef> Дата прибытия </th>
        <td mat-cell *matCellDef="let element"> {{element.time}} </td>
      </ng-container>

   
    <ng-container matColumnDef="flight">
      <th mat-header-cell *matHeaderCellDef> Стоимость билета </th>
      <td mat-cell *matCellDef="let element"> {{element.flight}} </td>
    </ng-container>

    <ng-container matColumnDef="flight">
      <th mat-header-cell *matHeaderCellDef> Стоимость билета </th>
      <td mat-cell *matCellDef="let element"> {{element.flight}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
   -->


   <!-- <app-preloader *ngIf="!isLoaded" class="preloader"></app-preloader> -->
   <div class="main-content table_History">
      <!-- *ngIf="isLoaded"  -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">


                   
<h3 *ngIf="busHistoryList" class="tripTitle" > Исторя покупок {{username}}</h3>
                    <!-- <div  style="margin-left:20px;" >
                     
                    </div> -->
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table" >
                                <thead class=" text-primary">
                             <th>
                               Номер маршрута
                             </th>
                                    <th>
                                        Маршрут
                                    </th>
                                    <th>
                                      Дата отправления
                                    </th>
                                    <th>
                                     Дата прибытия
                                    </th>
                                    <th>
                                       Цена
                                    </th>

                                    <th>
                                        Номер Сиденья
                                    </th>

                                    <th>
                                      Дата бронирования
                                    </th>
                                </thead>

                               
                                <tbody  *ngFor="let userHistory of busHistoryList">
                                    <tr>
                                        
                                        <!-- <td>
                                       {{userHistory.bookingId}}
                                        </td> -->
                                        <td>
                                          {{userHistory.tripNumber}}
                                        </td>
                                        <td>
                                          {{userHistory.tripTitle}}
                                        </td>
                                     
                                          <td>
                                              {{userHistory.departure | date}}
                                              {{userHistory.departure |  date:'hh:mm'}}
                                          </td>
                                          <td>
                                              {{userHistory.arrival | date}}
                                              {{userHistory.arrival |   date:'hh:mm'}}
                                            
                                            </td>
                                            <td>
                                                {{userHistory.price}}
                                              </td>
                                              <td>
                                                  {{userHistory.seatNum}}
                                                </td>
                                                <td>
                                             
                                                    {{userHistory.bookingDate | date}}
                                                    {{userHistory.bookingDate | date:'hh:mm'}}
                                                  </td>
                                               
                          
                                        <th>
                                         
                                        </th>
                                      
                                       
                                    </tr>
                                   
                                </tbody>
                            
                            </table>


                            <div *ngIf="empty"> <h3> Оплаченых билетов нету</h3></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>