<!-- 
<form style="margin-left: 10px">
<div class="example-container">
    <mat-form-field>
      <input matInput placeholder="Enter your email" [formControl]="email" required [(ngModel)]="username"> 
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
  </div>


  <mat-form-field>
      <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" [(ngModel)]="password">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>



</form > -->


<div style="display: flex; justify-content: center;" >
  <div>
        <p> User Name :  </p>
  <input type="text" [(ngModel)]="username">
      <div>
        <button mat-raised-button color="primary" style="margin-left: 10px" (click)="checkLogin()"> login </button>
        <div>
        <a href="http://localhost:4200/auth" class="btn btn-info" style="margin-left: 10px">admin login</a>
      </div>
      </div>

</div>

<div>
<p> Password : </p>
   <input type="password"[(ngModel)]="password">
    <div>



   </div>
  </div>

  <div>
 

</div>
</div>
  

  <!-- <div>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="User Name"  name="username"  >
  </mat-form-field>
</div>
<div>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Password" type="password" name="password">
  </mat-form-field>
</div>
</div> -->

