


<form class="example-form " (ngSubmit) ="onSignup(f)" #f="ngForm">
 
  <mat-form-field class="example-full-width">
    <input matInput placeholder="email" value="" id="mail">
  </mat-form-field>



  <mat-form-field class="example-full-width">
    <input matInput placeholder="password" value="" id="password">
  </mat-form-field>
  <mat-form-field class="example-full-width">
      <input matInput placeholder="name" value="" id="name">
    </mat-form-field>
  <button mat-raised-button color="primary">Sign up</button>
</form>
