<form class="example-form "> 
 
    <div> 
    <input type="text"   placeholder="userName" id="userName"  [formControl]="userName"> 
    <!-- <span class="form-help-text" *ngIf="form.get('userName').invalid && form.get('UserName').touched"> 

     userName не может быть пустым

    </span> -->
  
  </div>



  <div>
    <input type="text"   placeholder="password"  id="password"  [formControl]="password">
   </div>
   <!-- <span class="form-help-text" *ngIf="form.get('password').invalid && form.get('password').touched"> 

    password не может быть пустым

  </span> -->
  <div>
      <input type="text"   placeholder="Full name"  id="fullName"  [formControl]="fullName">
      <!-- <span class="form-help-text" *ngIf="form.get('fullName').invalid && form.get('fullName').touched"> 

      fullName не может быть пустым
    
      </span> -->
    </div>
  <button mat-raised-button color="primary" type="submit" (click)="onSubmit()">  Sign up </button>
</form>
