<form (ngSubmit)="onSubmit()" [formGroup]='form' >
 
    <mat-card class="CardSearch">
  
    <mat-grid-list cols="4" rowHeight="2:1">
        <mat-grid-tile>     
            <div class="searchFrom">
                <mat-form-field class="example-full-width" >
                  <input type="text" placeholder="Станция отправления" aria-label="Number" matInput [formControl]="myControl"  
                    [matAutocomplete]="auto">
                  <mat-autocomplete #auto="matAutocomplete"  [displayWith]="displayFn">
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                      {{option.title }}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
                
                </div>

          <button mat-button class="refreshButton">
              <mat-icon>cached</mat-icon>
          </button> </mat-grid-tile>

         

        <mat-grid-tile>  
         
          <mat-form-field class="example-full-width">
            <input type="text" placeholder="Станция прибытия" aria-label="Number" matInput [formControl]="myControlTo" 
              [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFnTo">
              <mat-option *ngFor="let optionsTo of filteredOptionsTo | async" [value]="optionsTo">
                  {{ optionsTo.title }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          
        </mat-grid-tile>
        <mat-grid-tile> 

            <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="Выберите Дату" 
                (dateInput)="addEvent('input', $event)" (dateChange)="addEvent('change', $event)" formControlName="date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            



          <button mat-flat-button color="primary" class="ShowButton" (click)="showFlight()"> Показать</button>
          <button mat-flat-button color="warn" class="checkButton" style="margin-left:20px;" type="submit"> Check </button>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card>
    </form>
  
  

    <app-bus-flight *ngIf="show"> </app-bus-flight>
    <app-bus-flight *ngIf="show"> </app-bus-flight>

    <!-- <span>{{ | json}} </span> -->