<mat-card class="BusFlightCard" *ngFor="let station of responseStations; index as seatId">

  <h4 style="display: flex; justify-content: center" >Номер рейса {{  station.trip }}</h4>
    <mat-grid-list cols="6" rowHeight="2:1">
<h1 style="display: flex; justify-content: center">  {{station.start}} -  {{station.finish}}  </h1>
 

</mat-grid-list>

<div style="display: flex; justify-content: center">  <h4>  {{station.timeDeparture | date:'hh:mm' }} -  {{station.timeArrival | date:'hh:mm' }}</h4> </div>
  <span  style="display: flex; justify-content: center">     время в пути </span>

  <mat-grid-list cols="8" rowHeight="2:1">
    <mat-grid-tile colspan='4'>  <h4>
      {{station.timeDeparture | date }}
     </h4>
     
     </mat-grid-tile>
    
    
     <mat-grid-tile colspan='4'>  <h4>   {{ station.timeArrival |  date }} </h4></mat-grid-tile>

  </mat-grid-list>

 

  <mat-grid-list cols="8" rowHeight="3:1" >
      <mat-grid-tile colspan='4'>  <span>
    отправление
      </span>
       </mat-grid-tile>
      
      
       <mat-grid-tile colspan='4'>  <span> прибытие </span></mat-grid-tile>
  
    </mat-grid-list>

    <button mat-raised-button color="primary" >Купить за {{station.price | currency:"Рублей " }}</button>
    <a mat-raised-button [routerLink]="['/seats', station.trip,station.startSchedId,station.finishSchedId]"> Buy test {{station.trip}}</a>
    <button mat-raised-button color="primary" disabled style="margin-left: 50px;"   >Автобус {{station.bus.title}} Свободных Мест {{station.bus.seatsCount}}</button>
  

</mat-card>

