<mat-card class="BusFlightCard">

  
    <mat-grid-list cols="6" rowHeight="2:1">
<h1 style="display: flex; justify-content: center">  Москва  --- Махачкала </h1>
 

</mat-grid-list>

<div style="display: flex; justify-content: center">  <h4> 07:00 - 05:34</h4> </div>
  <span  style="display: flex; justify-content: center"> время в пути</span>

  <mat-grid-list cols="8" rowHeight="2:1">
    <mat-grid-tile colspan='4'>  <h4>
   01.01.2019
     </h4>
     
     </mat-grid-tile>
    
    
     <mat-grid-tile colspan='4'>  <h4> 02.01.2019 </h4></mat-grid-tile>

  </mat-grid-list>

 

  <mat-grid-list cols="8" rowHeight="3:1" >
      <mat-grid-tile colspan='4'>  <span>
    отправление
      </span>
       </mat-grid-tile>
      
      
       <mat-grid-tile colspan='4'>  <span> прибытие </span></mat-grid-tile>
  
    </mat-grid-list>





   
</mat-card>

<mat-card style="display: flex; justify-content: center">
  <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
    <mat-button-toggle value="bold">1</mat-button-toggle>
    <mat-button-toggle value="bold">2</mat-button-toggle>
    <mat-button-toggle value="bold">3</mat-button-toggle>
    <mat-button-toggle value="bold">4</mat-button-toggle>
        <mat-button-toggle value="bold">5</mat-button-toggle>
        <mat-button-toggle value="bold">6</mat-button-toggle>
        <mat-button-toggle value="bold">7</mat-button-toggle>
        <mat-button-toggle value="bold">8</mat-button-toggle>
        <mat-button-toggle value="bold">9</mat-button-toggle>
        <mat-button-toggle value="bold">10</mat-button-toggle>


   
          <mat-button-toggle value="bold">11</mat-button-toggle>
          <mat-button-toggle value="bold">12</mat-button-toggle>
          <mat-button-toggle value="bold">13</mat-button-toggle>
          <mat-button-toggle value="bold">14</mat-button-toggle>
              <mat-button-toggle value="bold">15</mat-button-toggle>
              <mat-button-toggle value="bold">16</mat-button-toggle>
              <mat-button-toggle value="bold">17</mat-button-toggle>
              <mat-button-toggle value="bold">18</mat-button-toggle>
              <mat-button-toggle value="bold">19</mat-button-toggle>
              <mat-button-toggle value="bold">20</mat-button-toggle>
            
 

  </mat-button-toggle-group>






</mat-card>



<mat-card>
<button mat-raised-button color="primary">Оплата</button>
<a mat-raised-button routerLink="/checkout">Check out</a>
<button mat-raised-button color="primary" disabled style="margin-left: 50px;" >Цена за билет 1500 </button>
<button mat-raised-button color="primary" disabled style="margin-left: 50px;" > Номер рейса 1 </button>
</mat-card>